.pageContent {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 15px);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
  flex-wrap: wrap;
  gap: 15px;
}

.header button {
  height: 32px;
  padding: 0 10px;
}

.conversationWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.conversation {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 100px;
  height: 10000px;
  background-color: #f0f0f0;
  resize: vertical;
  overflow: auto;
  padding: 5px;
  border-radius: 3px;
  gap: 15px;

  max-height: calc(100vh - 175px);
}

@media (max-width: 599px) {
  .conversation {
    max-height: calc(100vh - 220px);
  }
}

.formWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.formWrapper form {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-top: 15px;
  gap: 15px;
  align-items: center;
}

.formWrapper form textarea {
  resize: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.277);
}

.submitButton {
  min-width: 80px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 599px) {
  .submitButton {
    height: 50px;
  }
}

.submitButton img {
  width: 30px;
  height: 30px;
  opacity: 40%;
  filter: invert(1) brightness(1.5) contrast(1);
}

.disabled {
  background-color: gray;
}

.request {
  background-color: rgb(63, 134, 99);
}

.buttonArea {
  display: flex;
  gap: 15px;
  flex-direction: row;
}

@media (max-width: 599px) {
  .buttonArea {
    flex-direction: column;
  }
}

.settings {
  padding: 15px;
  background-color: #f0f0f0;
}

.settings form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.settings form input {
  margin-top: -8px;
  max-width: 500px;
  width: calc(100% - 15px);
}

.settings form button {
  height: 30px;
  padding: 0 10px;
}